{% render 'partials/head.liquid' %}

<section>
  <div>
    <img class="profile" src="assets/foto-ik.svg" alt="">
    <h1>{{ person.name }}</h1>

    <div class="sub-info">
    <p class="birth-year">{{person.custom.year}}</p>
  
    <p class="age">{{person.custom.age}}</p>
    
    <p class="education">{{person.bio}}</p>
    </div>

    <details> 
      <summary>Info</summary>
      <p class="info-text">{{person.custom.info}}</p>
    </details>

    <footer>
    <div class="svg">

    <button id="camera"><img class="camera" src="assets/camera-svgrepo-com.svg" alt="camera"></button>

    <img class="foto-waterfall" src="assets/fotocamera.jpg" alt="">

    <img class="html-tag" src="assets/html-tag-svgrepo-com.svg" alt="html tag">
    <img class="book" src="assets/book-7-svgrepo-com.svg" alt="boek">
    <img class="music" src="assets/music-notes-svgrepo-com.svg" alt="muzieknoten">
    <img class="movie" src="assets/movies-and-tv-svgrepo-com.svg" alt="clapperboard">
    </div>

    <a href=""><img class="qr-code" src="assets/qrcode.71249255.png" alt=""></a>
    </footer>

    </div>
    </section>
 

{% render 'partials/foot.liquid' %}
