<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>

<p>Het is vandaag {{ 'now' | date: '%a %d-%m-%y' }}</p>

<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>

<p>{{person.custom.loves}}</p>

<img src="{{person.avatar}}" alt="">